@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  padding: 1rem;
  color: #fff;
  background: #171e27;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}


nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 1rem auto;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

a.active {
  font-weight: 700;
  text-decoration: underline;
}


.task-wrapper {
  display: flex;
  /* padding: 1rem; */
  flex-direction: column;
  gap: 2.5rem;
  align-items: start;
  width: clamp(300px, 100%, 600px);
  margin: 1rem auto;
}

.task {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(to left, rgb(0, 166, 255), #f841a3);
  font-size: 1.1rem;
  font-weight: 500;
  color: #f2ecec;
  border-radius: 5px;
  justify-content: space-between;
  padding: 1rem;
}

button {
  border: none;
  outline: none;
  font-weight: 500;
}

.task button {
  padding: 8px 10px;
  background: #323232;
  color: #fff;
}


.task.completed {
  opacity: 0.5;
}


form {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  background: #fff;
}

form button {
  outline: none;
  border: none;
  padding: 12px 1.5rem;
  font-weight: 700;
  background: #f677ce;
  color: #0b0b0b;
  font-size: 1rem;
}


form>input {
  border: none;
  padding: 12px 1.5rem;
  font-size: 1rem;
  outline: none;
  background: transparent;
}


/* Button Container */
.button__container {
  display: flex;
  align-items: center;
  gap: 8px;
  --color: #905df6;
}

.button__container button {
  font-size: 1.1rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid var(--color);
  color: var(--color);
}

.button__container button:nth-child(1) {
  --color: #8847f2;
}


.button__container button:nth-child(2) {
  --color: #f22d0a;
}


/* Input Wrapper  */
.edit__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.edit__wrapper>input {
  padding: 8px 12px;
}

.edit__wrapper>button {
  border: 2px solid #f97df9;
  background: #fff;
  border-radius: 5px;
  font-size: 1rem;
}


@media (hover: hover) {

  button {
    cursor: pointer;
    transition: 0.3s linear;
  }

  form button:hover {
    background: #f86a6a;
  }


  .task button:hover {
    background: #fbfbfb;
    color: #000;
    border-color: transparent;
  }
}